<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net461" />
  <package id="VersOne.Epub" version="3.0.3.1" targetFramework="net461" />
</packages>